// Fonts
$base-font: Georgia, 'Times New Roman', Times, serif;
$fell-font-regular: 'IMFELLFrenchCanonPRORegular', serif;
$fell-font-italic: 'IMFELLFrenchCanonPROItalic', serif;
$fell-font-glyph: 'IMFELLFLOWERS2Regular';

// Colors
$base-color: #333;
$accent-color: #ff4040;
$background-color: #f1f1f1;
$secondary-color: #6e6e6e;

// Layout
$content-width-1: 550px;
$content-width-2: 850px;
$content-width-3: 970px;
$content-width-4: 1170px;

$breakpoint-1: 650px;
$breakpoint-2: 992px;
$breakpoint-3: 1200px;
