@font-face {
  font-family: 'IMFELLFrenchCanonPRORegular';
  src: url('fonts/fefcrm27c-webfont.eot');
  src:
    url('fonts/fefcrm27c-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/fefcrm27c-webfont.woff') format('woff'),
    url('fonts/fefcrm27c-webfont.ttf') format('truetype'),
    url('fonts/fefcrm27c-webfont.svg#IMFELLFrenchCanonPRORegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IMFELLFrenchCanonPROItalic';
  src: url('fonts/fefcit27c-webfont.eot');
  src:
    url('fonts/fefcit27c-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/fefcit27c-webfont.woff') format('woff'),
    url('fonts/fefcit27c-webfont.ttf') format('truetype'),
    url('fonts/fefcit27c-webfont.svg#IMFELLFrenchCanonPROItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IMFELLFLOWERS2Regular';
  src: url('fonts/feflow2-webfont.eot');
  src:
    url('fonts/feflow2-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/feflow2-webfont.woff') format('woff'),
    url('fonts/feflow2-webfont.ttf') format('truetype'),
    url('fonts/feflow2-webfont.svg#IMFELLFLOWERS2Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$base-font: Georgia, 'Times New Roman', Times, serif;
$fell-font-regular: 'IMFELLFrenchCanonPRORegular', serif;
$fell-font-italic: 'IMFELLFrenchCanonPROItalic', serif;
$fell-font-glyph: 'IMFELLFLOWERS2Regular';
